body {
    background-color: #121212;
    color: #f5f5f5;
}
/* sidebar.css */
.sidebar {
    width: 220px; /* largura desejada */
    height: 100vh;
    position: fixed;
    top: 80px; /* considera a navbar */
    left: 0;
    background-color: #212529; /* cor dark */
    color: #fff;
    padding: 1rem;
    overflow-y: auto;
}
.sidebar a {
    display: block;
    color: #f5f5f5;
    padding: 10px 20px;
    margin-bottom: 5px;
    border-radius: 8px;
    transition: all 0.2s;
}
.sidebar a:hover {
    background-color: #dc3545;
    color: #fff;
    text-decoration: none;
}
.content {
    margin-left: 240px;
    padding: 2rem;
}
.card-admin {
    border-radius: 15px;
    padding: 20px;
    background-color: #343a40;
    color: #fff;
    text-align: center;
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-admin:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.25);
}