<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /barbearia/public/

    # Não reescreve arquivos ou pastas existentes
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redireciona todas as requisições para index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>